.Char {
  margin-right: 1px;
  display: inline-block;
  position: relative;
  // transition: color 0.6s;

  border-bottom: solid 2px transparent;
  &.WithCursor {
    border-color: var(--primary);
  }

  &.EnterKey {
    background-image: url(../../assets/enter.png);
    background-repeat: no-repeat;
    background-position: center;
    // opacity: 0.5;
  }
}

.Correct {
  color: var(--correct-fg);
  background: var(--correct-bg);
  &.WasCorrected {
    background: var(--corrected-bg);
  }

  &.Bracket {
  }

  // &.EnterKey {
  //   opacity: 1;
  // }
}

.Incorrect {
  color: var(--incorrect-fg);
  background: var(--incorrect-bg);
}

.Untyped {
  color: var(--untyped-fg);
}

.IncorrectFeedback {
  position: absolute;
  color: white;
  visibility: hidden;
  opacity: 1;
  left: 0;
  top: 0;

  &.FadeOut {
    transition: opacity 2s;
    opacity: 0;
    visibility: visible;
  }
}
