@import "../../shared";

%padded-bottom-for-banner {
  margin-bottom: 3em;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 0;
  }
}

.Challenge {
  text-align: center;
  @extend %padded-bottom-for-banner;

  .Confetti {
    position: absolute;
    left: 50%;
    // top: 5em;
  }

  .Inner {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    text-align: left;
    max-width: 1600px;

    .Border {
      border: solid 1px var(--button);
      float: left;
      padding: 1em;
      width: 100%;
      box-sizing: border-box;

      .Code {
        text-align: left;
        float: left;
        font-size: 1.1em;
        width: 100%;
      }
    }

    .Completed {
      border-color: var(--success);
      background: var(--correct-bg)
    }

    .SolarizedLight {
      // background: #fdf6e3;
    }
  }

  h1 {
  }

  .Stats {
    float: right;
    margin-top: 1em;

    span + span {
      margin-left: 1em;
    }
  }

  .NextButton {
    margin: 1em 0;
    opacity: 1;
    transition: opacity 1s;
    border: solid 1px var(--button);
    font-family: inherit;
    font-size: 1.4em;
    padding: 0.5em 1.6em;
    text-align: left;

    &.Enabled {
      opacity: 1;
      font-weight: bold;
    }
  }
}

.Line {
  padding-left: 2em;
}

.Dotnet {
  .Line:first-child,
  .Line:nth-child(2),
  .Line:last-child {
    padding-left: 0;
  }
}

.Node {
  .Line:first-child,
  .Line:last-child {
    padding-left: 0;
  }
}
