@import "../../shared";

.Header {
  width: 100%;
  position: relative;
  display: block;
  float: left;
  text-align: left;

  h1 {
    cursor: default;
    margin: 1.4em 0;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
      margin: 1em 0;
      font-size: 2em;
    }
  }

  .Overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
  }

  .Hamburger {
    font-size: 1.8em;
    position: absolute;
    z-index: 10;
    top: 0.8em;
    left: -0.8em;
    margin-left: var(--horizontal-padding);
    padding: 0.8em 0 0.8em var(--horizontal-padding) + 58px;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    @extend %no-tap-highlight;
    outline: none;

    svg {
      margin: auto;
      position: relative;
      fill: var(--text);
    }

    &:hover {
      svg {
        fill: var(--primary);
      }
    }
  }

  .GithubLink {
    position: absolute;
    top: 1.3em;
    right: 1em;
    padding: 1em;
    transition: opacity 0.5s;

    span {
      font-size: 1px;
      text-indent: 9999px;
      position: absolute;
      top: -9999px;
    }

    svg {
      color: var(--text);
    }

    &:hover {
      color: (--primary);
    }
  }
}
