@import "../../shared";

.Footer {
  @media (min-width: $breakpoint-tablet) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  border-top: solid 1px var(--button);

  a {
    padding: 1em;
    display: block;
    text-decoration: none;
    color: var(--button);

    span {
      position: absolute;
      font-size: 1px;
      text-indent: -999px;
    }

    svg {
      padding-right: 0.4em;
    }

    &:hover {
      text-decoration: underline;
      color: var(--primary);

      svg {
        fill: var(--primary);
      }
    }
  }
}
