@import "./shared";

.App {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  position: relative;
  color: var(--text);

  --background: white;
  --primary: #0082ff;
  --text: #222;
  --button: #e2e2e2;
  --success: green;

  --syntax-const: #b07305;
  --syntax-variable: purple;

  --correct-bg: #e7fbd3;
  --correct-fg: #0e630e;
  --corrected-bg: #ffe9b2;
  --incorrect-bg: pink;
  --incorrect-fg: darkred;
  --untyped-fg: grey;

  &.Gruvbox {
    --background: #282828;
    --primary: #FABD2F;
    --text: #EBDBB2;
    --button: #504945;
    --success: #8EC07C;

    --correct-fg: #fff;
    --correct-bg: #3d4a38;
    --corrected-bg: #9b7d30;
    --incorrect-bg: #4f3535;
    --incorrect-fg: pink;
    --untyped-fg: #897B6E;
  }

  // Main horizontal padding
  --gutter: 30px;
  @media (min-width: $breakpoint-tablet) {
    --gutter: 56px;
  }

  display: none;
  &.Loaded {
    display: block;
  }

  --animate-duration: 1s;
}

// .Blurred {
//   filter: blur(3px);
// }

.Page {
  transition: filter ease-out 4.4s;
}

.Content {
  float: left;
  width: 100%;
  margin: 0;
  padding: 2em 0;
  z-index: 1;

  &:after {
    content: "";
    clear: both;
  }

  .Inner {
    position: relative;
    margin: 0 auto;
    padding: 0 var(--gutter);
    text-align: center;
  }

  padding-top: 0em;
  @media (min-width: $breakpoint-tablet) {
    padding: 2em 0;
  }
}

.DarkMode {
  background: black;
}
