@import "./shared";

.App {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  position: relative;
  color: var(--text);

  --primary: red;
  --text: $primary;
  --light-text: #999;

  --syntax-const: #b07305;
  --syntax-variable: purple;

  --correct-bg: #e7fbd3;
  --correct-fg: #0e630e;
  --corrected-bg: #ffe9b2;
  --incorrect-bg: pink;
  --incorrect-fg: darkred;

  --untyped-fg: grey;
  --cursor-colour: blue;

  &.DarkMode {
    --primary: #e959ba;
    --text: #adb9b9;
    --light-text: #ccc;

    --correct-fg: #fafffa;
    --correct-bg: #2f442f;
    --corrected-bg: #685933;
    --incorrect-bg: #4f3535;
    --incorrect-fg: pink;

    --untyped-fg: #999;
    --cursor-colour: pink;
  }
}

// .Blurred {
//   filter: blur(3px);
// }

.Page {
  transform: filter ease-out 4.4s;
}

.Content {
  float: left;
  width: 100%;
  margin: 0;
  padding: 2em 0;
  z-index: 1;

  &:after {
    content: "";
    clear: both;
  }

  .Inner {
    position: relative;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
  }
}

.DarkMode {
  background: black;
}
